<template name="AddMarket">
    <form id="insertMarketForm" novalidate="novalidate">











        <div class="form-group" data-required="true">

            <label for="bpeNgMG3Atg5ef36r" class="control-label">Name</label>





            <input type="text" name="name" id="bpeNgMG3Atg5ef36r" required="" data-schema-key="name" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group" data-required="true">

            <label for="ZYDr9gPpWu6mrsLCD" class="control-label">Address county</label>





            <input type="text" name="address_county" id="ZYDr9gPpWu6mrsLCD" required="" data-schema-key="address_county" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group" data-required="true">

            <label for="YL2YXY8cDHkPDRtTb" class="control-label">Address street</label>





            <input type="text" name="address_street" id="YL2YXY8cDHkPDRtTb" required="" data-schema-key="address_street" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group" data-required="true">

            <label for="QfesAYLwfTYS79EjL" class="control-label">Address city</label>





            <input type="text" name="address_city" id="QfesAYLwfTYS79EjL" required="" data-schema-key="address_city" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group" data-required="true">

            <label for="9hRBxi3YWRQEnMaHb" class="control-label">Address state</label>





            <input type="text" name="address_state" id="9hRBxi3YWRQEnMaHb" required="" data-schema-key="address_state" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group" data-required="true">

            <label for="Mrz6q9it5x5ssDGEw" class="control-label">Address zip</label>





            <input type="text" name="address_zip" id="Mrz6q9it5x5ssDGEw" required="" data-schema-key="address_zip" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="aGvYBABtFytgbLXYx" class="control-label">Contact website</label>





            <input type="text" name="contact_website" id="aGvYBABtFytgbLXYx" data-schema-key="contact_website" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="s7QojYQG9aCGGxRxj" class="control-label">Contact facebook</label>





            <input type="text" name="contact_facebook" id="s7QojYQG9aCGGxRxj" data-schema-key="contact_facebook" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="aAiGxmGyugBG2fqCa" class="control-label">Contact email</label>





            <input type="text" name="contact_email" id="aAiGxmGyugBG2fqCa" data-schema-key="contact_email" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="8NL9uTTWYWSndkmMJ" class="control-label">Contact contact string</label>





            <input type="text" name="contact_contact_string" id="8NL9uTTWYWSndkmMJ" data-schema-key="contact_contact_string" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">





            <div class="checkbox">
                <label>
      <input type="checkbox" value="true" name="information_covered_facility" id="p2udEz2WtMmPcsQfc" data-schema-key="information_covered_facility">
      Information covered facility
    </label>
            </div>


            <span class="help-block"></span>
        </div>













        <div class="form-group" data-required="true">

            <label for="mpgsqQSMqsmk8kHCs" class="control-label">Open hours season summary</label>





            <input type="text" name="open_hours_season_summary" id="mpgsqQSMqsmk8kHCs" required="" data-schema-key="open_hours_season_summary"
                class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="37BZPvpLSgZrrNEtk" class="control-label">Season month start</label>





            <input type="text" name="season_month_start" id="37BZPvpLSgZrrNEtk" data-schema-key="season_month_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="saxkfRdiF5wMKgpYk" class="control-label">Season day number start</label>





            <input type="text" name="season_day_number_start" id="saxkfRdiF5wMKgpYk" data-schema-key="season_day_number_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="xTr9LLhyqCcNtTKH4" class="control-label">Season month end</label>





            <input type="text" name="season_month_end" id="xTr9LLhyqCcNtTKH4" data-schema-key="season_month_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="FnPzeDneAjEmuLnLr" class="control-label">Season day number end</label>





            <input type="text" name="season_day_number_end" id="FnPzeDneAjEmuLnLr" data-schema-key="season_day_number_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="Wf5xgTXatMYH4aSNy" class="control-label">Hours weekly mon start</label>





            <input type="text" name="hours_weekly_mon_start" id="Wf5xgTXatMYH4aSNy" data-schema-key="hours_weekly_mon_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="LHkWxhBfkCNtK9JAv" class="control-label">Hours weekly tue start</label>





            <input type="text" name="hours_weekly_tue_start" id="LHkWxhBfkCNtK9JAv" data-schema-key="hours_weekly_tue_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="icR5FJAb6EnB5DbQu" class="control-label">Hours weekly wed start</label>





            <input type="text" name="hours_weekly_wed_start" id="icR5FJAb6EnB5DbQu" data-schema-key="hours_weekly_wed_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="WKeDwTzMCqn6J4Zxx" class="control-label">Hours weekly thu start</label>





            <input type="text" name="hours_weekly_thu_start" id="WKeDwTzMCqn6J4Zxx" data-schema-key="hours_weekly_thu_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="eMES7owwZR5Lh8eGK" class="control-label">Hours weekly fri start</label>





            <input type="text" name="hours_weekly_fri_start" id="eMES7owwZR5Lh8eGK" data-schema-key="hours_weekly_fri_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="fjSTuStLvdshDAJWk" class="control-label">Hours weekly sat start</label>





            <input type="text" name="hours_weekly_sat_start" id="fjSTuStLvdshDAJWk" data-schema-key="hours_weekly_sat_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="f4bE8TQWFFDMk6WpQ" class="control-label">Hours weekly sun start</label>





            <input type="text" name="hours_weekly_sun_start" id="f4bE8TQWFFDMk6WpQ" data-schema-key="hours_weekly_sun_start" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="dTXxucYtERhQF9ycK" class="control-label">Hours weekly mon end</label>





            <input type="text" name="hours_weekly_mon_end" id="dTXxucYtERhQF9ycK" data-schema-key="hours_weekly_mon_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="SytWHKs3ze6giaRAu" class="control-label">Hours weekly tue end</label>





            <input type="text" name="hours_weekly_tue_end" id="SytWHKs3ze6giaRAu" data-schema-key="hours_weekly_tue_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="Kz4RScr85Et33nnZi" class="control-label">Hours weekly wed end</label>





            <input type="text" name="hours_weekly_wed_end" id="Kz4RScr85Et33nnZi" data-schema-key="hours_weekly_wed_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="3t7aYb7sBGH4i33Jd" class="control-label">Hours weekly thu end</label>





            <input type="text" name="hours_weekly_thu_end" id="3t7aYb7sBGH4i33Jd" data-schema-key="hours_weekly_thu_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="EMyWR6fucSarxA6n4" class="control-label">Hours weekly fri end</label>





            <input type="text" name="hours_weekly_fri_end" id="EMyWR6fucSarxA6n4" data-schema-key="hours_weekly_fri_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="iv6GRuZatFhQwdgro" class="control-label">Hours weekly sat end</label>





            <input type="text" name="hours_weekly_sat_end" id="iv6GRuZatFhQwdgro" data-schema-key="hours_weekly_sat_end" class="form-control">


            <span class="help-block"></span>
        </div>













        <div class="form-group">

            <label for="dRP4yu9DrTmdxqcoq" class="control-label">Hours weekly sun end</label>





            <input type="text" name="hours_weekly_sun_end" id="dRP4yu9DrTmdxqcoq" data-schema-key="hours_weekly_sun_end" class="form-control">


            <span class="help-block"></span>
        </div>














        <input type="hidden" name="createdAt" required="" data-schema-key="createdAt">














        <input type="hidden" name="updatedAt" data-schema-key="updatedAt">











        <div class="form-group">
            <button type="submit" class="btn btn-primary add-market">
          
          Submit
          
        </button>
        </div>



    </form>
</template>